button{
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(192, 138, 243) ;
    border: 2px solid rgb(133, 22, 238);
    
}

.btn{
    
    background-color: rgb(192, 138, 243) ;
    color: black;
    border: 2px solid blueviolet;
}