$primary-color: #324bda;
$secondary-color: #84CEEB;
$h3-color: #4a4949;
$tertiary-color: #ffff;
$background-color: linear-gradient(to top, #c9c9ff 50%, #6e6efe 90%) no-repeat ;
$font-size: 20px;
