//color variables
$primary-color: #324bda;
$secondary-color: #edf2f4;
$grid-color: #dce6f6;
$sidenav-color: #edf7f6;
$h3-color: #4a4949;
$tertiary-color: #fff;
$h4-color:  #585555;
$h5-color: #000000;
$navbar-color:#27277b;
$red: #ff0000;
$background-color: linear-gradient(to top, #c9c9ff 50%, #6e6efe 90%) no-repeat ;

//font size variables
$font-size: 20px;
$navbar-font: 32px;
$button-font: 18px;
$icon-size: 24px;
