<!--expense form-->
<div class="add-expense">
  <div class="container">
      <!--row-->
      <div  class="row justify-content-center">
          <!--column-->
          <form class="form-group col-md-4 col-md-offset-5 align-center " [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
              <h3>Add Expenses</h3>
              
              <!--form for person-->
              <div class="form-group" formArrayName="people">
                <div class="row" *ngFor="let person of people.controls; let i=index" [formGroupName]="i">
                  <div class="col">
                    <label>Person {{ i + 1 }}:</label>
                    <input class="form-control" type="text" formControlName="name">
                  </div>
                  <div class="col-auto mt-4">
                    <button type="button" id="btn-delete" *ngIf="people.length > 1" (click)="removePerson(i)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <button type="button"  class="btn btn-success m-1" (click)="addPerson()">Add Person</button>
                  </div>
                </div>
              </div>
              
              <!--description-->
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Description:</label>
                  <input type="text" class="form-control" formControlName="description">    
              </div>
              <!--Amount-->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Amount:</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="amount">
                </div>
              </div>

              <!--button-->
              <div class="form-buttons">
                  <button class="btn btn-secondary m-1" type="button" (click)="closeForm()">Cancel</button>
                  <button class="btn btn-primary m-1" type="submit">Save</button>
              </div>
          </form>
      </div>

  </div>
</div>