.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    all: unset;
    
}

.remove {
    all: unset;   
}

input{
    all: unset;
    border: 2px solid black;
}

button {
    all: unset;
}

