@import 'src/app/styles/layout/variable.scss';

.group {
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6efe 90%) no-repeat ;
    overflow: auto;
}

/* Adjustments for small screens */
@media (max-width: 576px) {
    .form-group {
        width: 90%;
        font-size: 24px;
        padding: 24px;
    }
}

/* Adjustments for medium screens */
@media (min-width: 576px) and (max-width: 992px) {
    .form-group {
        width: 70%;
        font-size: 28px;
        padding: 32px;
    }
}

/* Adjustments for large screens */
@media (min-width: 992px) and (max-width: 1200px) {
    .form-group {
        width: 50%;
        font-size: 32px;
        padding: 40px;
    }
}

/* Adjustments for extra-large screens */
@media (min-width: 1200px) {
    .form-group {
        width: 30%;
        font-size: 30px;
        padding: 20px;
    }
}

