<div class="container">
    <!--Registration form-->
    <form [formGroup]="registrationForm">
        <h3>Register Here</h3><br>
        <div class="input-fields">
            <!--Email-->
            <div class="email">
                <label for="username">Email</label>
                <input type="text" placeholder="Email" id="username" formControlName="username">
            </div>
            <!--Name-->
            <div class="name">
                <label for="name">Name</label>
                <input type="name" placeholder="Name" id="name" formControlName="name">
            </div>
            <!--Password-->
            <div class="password">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" formControlName="password">
            </div>
            <!--Confirm Password-->
            <div class="confirm-password">
                <label for="password">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword">
            </div>
        </div>
        <!--Register button-->
        <button type="button" class="btn" (click)="onRegister()">Register</button><br>    
    </form>   
</div>