<div class="app-body">
    <nav class="navbar sticky-top navbar-light" style="background-color:#17179a;">
        <a class="navbar-brand"><h1>Splitwise</h1></a>
        <div class="text-end"  id= "logout-button">
            <button type="button" class="btn btn-outline-light btn-sm" *ngIf="showsidenav" routerLink="/">Logout</button>
        </div>
    </nav>  
    <div *ngIf="showLogin">
        <app-login></app-login>
    </div>   
    
    
    <div class="sidenav">
        <app-sidenav (onToggleSidenav)="onToggleSidenav($event)" *ngIf="showsidenav"></app-sidenav>
        <app-body [collapsed]="isSideNavCollapsed"
        [screenWidth]="screenWidth"></app-body>
    </div>
</div>

