@import 'src/app/styles/layout/variable.scss';
//side nav
.sidenav {
  background: $background-color ;
  overflow: hidden;
}
.navbar-brand {
  font-size: 32px;
  margin-bottom: 0;
  color: #ffff;
}

#navbar {
  background-color: #24247e;
}


@media (max-width: 767px) {
  .logo {
    font-size: 24px; 
  }
}

/* Adjust menu icon size for smaller screens */
.menu-icon {
  font-size: 24px; 
}

@media (max-width: 767px) {
  .menu-icon {
    font-size: 20px;
  }
}

/* Adjust menu button size for smaller screens */
.menu-button {
  font-size: 14px;
  padding: 3px 6px;
}

@media (max-width: 767px) {
  .menu-button {
    font-size: 12px;
    padding: 2px 4px;
  }
}

#logout-button {
  margin-right: 15px; 
}



