
    <div id="Login" class="background">

        <form [formGroup]="loginForm">
            <h3>Login Here</h3>
        
            <label for="username">Email</label><br>
            <input type="text" placeholder="Email " id="username" formControlName="username"><br>
        
            <label for="password">Password</label><br>
            <input type="password" placeholder="Password" id="password" formControlName="password"><br>
        
            <button class="btn" (click)="onLogin()">Log In</button><br>
        
            <button class="btn" (click)="navigateToRegister()">Register</button>
        
        
            
        </form>
        
        
        </div>
