<div class="login">
    <div class="container">
        <!--login component-->
        <div  class="row justify-content-center">
            <!--login form-->
            <form class="form-group col-md-4 col-md-offset-5 align-center " [formGroup]="loginForm">
                <h3>Login Here</h3>
                <!--Add email-->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                    <input type="email" class="form-control"  id="username" formControlName="username" placeholder="Enter email">
                </div>

                <!--Add password-->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">    
                </div>

                <!--Buttons for login and navigation to registration page-->
                <div class="d-grid gap-2">
                    <button type='button' class="btn btn-primary" (click)="onLogin()">Log In</button>
                    <div class="mt-2">Already Have an account 
                        <a routerLink="/login-signup/register">Register</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>