@import 'src/app/styles/layout/variable.scss';

.friend {
  display: flex;
  justify-content: center;
  height: 89vh;
  overflow: auto;
} 

//on small screen set padding
@media (max-width: 576px) {
  .friend {
    padding: 20px;
  }
}
