<!--Friend component-->
<div class="detail-form">
  <div class="container">
    <div class="row justify-content-center">
      <!--form for add Friend-->
      <form class="form-group col-md-5 col-md-offset-5 align-center " [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
        <h3 class="mb-3">Add Friend</h3>
        <div class="text-start">
          <div formArrayName="names">
          <h5 class="mb-3">Enter Name and Email :</h5>
          <div class="row mb-1" *ngFor="let name of names.controls; let i = index" [formGroupName]="i">
      
            <!--Name-->
            <div class="col-auto">
              <input type="text" id="name" formControlName="name" placeholder="Name"  class="mb-2">
            </div>
          
            <!--Email-->
            <div class="col-auto mb-2">
              <input type="email" id="email" formControlName="email" placeholder="Email">
            </div>
          
            <!--Delete Button-->
            <div class="col-auto mb-2">
              <button type="button" id="btn-delete" (click)="deleteNameInput(i)"><i class="fa fa-close"></i></button>
            </div>
          </div>

          <!-- This button allows users to add more  members -->
          <button type="button" id="btn-edit"  class="text-left mb-3" (click)="addNameInput()">+Add new friend</button>
        </div>
        
        <!--Add message section-->
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><h5>Add Message:</h5></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!--Buttons for close the form and send invite -->
        <div class="form-buttons">
          <button class="btn btn-secondary m-1" type="button" id="btn-cancle" (click)="closeForm()">Cancel</button>
          <button class="btn btn-primary m-1" type="submit" id="btn-save">Send invite</button>
        </div>  
        </div>
      </form>
    </div>    
  </div>
</div>