<!--Friend component-->
<div class="friend">
  <div class="container">
    <div class="row justify-content-center">
      <form class="form-group col-md-5 col-md-offset-5 align-center " [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
        <h3>Add Friend</h3>
        <div formArrayName="names">
          <h2>Enter Name and Email :</h2>
          <div class="row" *ngFor="let name of names.controls; let i = index" [formGroupName]="i">
      
            <!--Name-->
            <div class="col-auto">
              <input type="text" formControlName="name" placeholder="Name"  class="mb-2">
            </div>
          
            <!--Email-->
            <div class="col-auto mb-2">
              <input type="email" formControlName="email" placeholder="Email">
            </div>
          
            <!--Delete Button-->
            <div class="col-auto">
              <button type="button" id="btn-delete" (click)="deleteNameInput(i)"><i class="fa fa-close"></i></button>
            </div>
          </div>

          <!-- This button allows users to add more  members -->
          <button type="button" id="btn-edit"  class="add m-2" (click)="addNameInput()">+Add new friend</button>
        </div>
        
        <!--Add message section-->
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><h4>Add Message:</h4></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!--Buttons for close the form and send invite -->
        <div class="form-buttons">
          <button class="btn btn-secondary m-1" type="button" (click)="closeForm()">Cancel</button>
          <button class="btn btn-primary m-1" type="submit">Send invite</button>
        </div>  
      </form>
    </div>    
  </div>
</div>