<div class="dashboard">
    <!-- Dashboard-->
    <nav class="navbar navbar-light">
        <a class="navbar-brand"><h1>Dashboard</h1></a>
        <!--Buttons for expense and settle up-->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
            <button class="btn btn-primary me-md-2" id="navbar-button" type="button" routerLink="/expense/add-expense">Add Expense</button>
            <button class="btn btn-success" id="navbar-button" type="button" routerLink="/settle-up">Settle Up</button>
        </div>
    </nav>
    <!-- all balance grid -->
    <div class="grid-container-all-expense" id="all-balance">
        <div class="grid-item-all-expense"><b>Total balance</b>
            <p>+ $65</p>
        </div>
        <div class="grid-item-all-expense"><b>You owe</b>
            <p>$65</p>
        </div>
        <div class="grid-item-all-expense"><b>You are owed</b>
            <p>$130</p>
        </div>
    </div>
    <!-- You Owe / You are owed grids -->
    <div class="grid-container-owe-owed" id="owe-owed">
        <div class="grid-item-owe-owed"><h4>You Owe</h4>
            <ul class="list-owe-owed">
                <li><h6>Priya</h6>
                    <p>you owe $65</p>
                </li>
            </ul>
        </div>  
        <div class="grid-item-owe-owed"><h4>You are owed</h4>
            <ul class="list-owe-owed">
                <li><h6>Mayank</h6>
                    <p>owes you $65</p>
                </li>
                <li><h6>Harish</h6>
                    <p>owes you $65</p>
                </li>
            </ul>  
        </div>
    </div>
</div>
