<div class="dashboard">
    <!-- Dashboard-->
    <nav class="navbar navbar-light" style="background-color:#f0f8ff;">
        <a class="navbar-brand"><h1>Dashboard</h1></a>
        <!--Buttons for expense and settle up-->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
            <button class="btn btn-primary me-md-2" id="navbar-button" type="button" routerLink="/expense/add-expense">Add Expense</button>
            <button class="btn btn-success" id="navbar-button" type="button" routerLink="/settle-up">Settle Up</button>
        </div>
    </nav>
    <!-- all balance grid -->
    <div class="grid-container1" id="all-balance">
        <div class="grid-item1">Total balance</div>
        <div class="grid-item1">You owe</div>
        <div class="grid-item1">You are owed</div>
    </div>
    <!-- You Owe / You are owed grids -->
    <div class="grid-container" id="oew-owed">
        <div class="grid-item"><h4>You Owe</h4></div>  
        <div class="grid-item"><h4>You are owed</h4></div>
    </div>
</div>
