@import 'src/app/styles/layout/variable.scss';

.dashboard {
    height: 89vh;
    overflow: auto;

    h4 {
        text-align: center;
        color: $primary-color;
    }

    .btn {
        margin-right: 2px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }

    .grid-item {
        border: 1px solid #0000ff;
        padding: 20px;
        background-color: #f0f8ff;
        height: 400px;
    }
    
  @media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;
      }
    
}

}

.grid-container1 {
    display: grid;
    margin:2px ;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2px;
}

  .grid-item1 {
    background-color: #f8ecf6;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    height: 80px;
}

  @media only screen and (max-width: 600px) {
    .grid-container1 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 5px;
    }
}

@media (max-width: 600px) {
    .dashboard {
        height: 90vh;
    }
}

@media (min-width:600px) and (max-width: 850px) {
    .dashboard {
        height: 93.5vh;
    }
}

