/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/styles/layout/header.scss';
@import 'src/app/styles/layout/Variable.scss';

/* Setting global styles for HTML and body elements. */


html, 
body { 
  height: 100%; 
  overflow: auto;
}

body { 
  margin: 0;
  background: #ffff;
}

//form design
form {
  border: 1px solid $primary-color;
  padding: 15px; 
  background-color: #ffff;
  border-radius: 5px;
}

//lable styling
label {
  font-size: $font-size;
  color: $primary-color;
}

//moving form 50px down from top of page
.container {
  padding-top: 80px;
}

//icon style
#btn-delete {
  color: red;
  border: none;
  background: none;
  size: 12px;
}

#btn-edit {
  color: blue;
  border: none;
  background: none;
  size: 12px
}