/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/styles/components/button.scss';
@import 'app/styles/layout/header.scss';
@import 'src/app/styles/layout/Variable.scss';

/* Setting global styles for HTML and body elements. */


html, 
body { 
  height: 100%; 
}

body { 
  margin: 0;
  background-color: #ffff;
  padding: 10px;
  
}

//form design
form {
  border: 1px solid $primary-color;
  padding: 15px; 
}

//lable styling
label {
  font-size: 20px;
  color: $primary-color;
}

//moving form 50px down from top of page
.container {
  padding-top: 50px;
}


