/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/styles/layout/header.scss';
@import 'src/app/styles/layout/Variable.scss';

/* Setting global styles for HTML and body elements. */

html, 
body { 
  height: 100vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
  background: $background-color;
}

//form design
form {
  border: 1px solid $primary-color;
  padding: 15px; 
  background-color: $tertiary-color;
  border-radius: 5px;
}

#btn {
  font-size: $font-size;
}

//lable styling
label {
  font-size: $font-size;
  color: $primary-color;
}

//moving form 50px down from top of page
.container {
  padding-top: 80px;
}

//icon style
#btn-delete {
  color: $red;
  border: none;
  background: none;
  size: 12px;
}

#btn-edit {
  color: $primary-color;
  border: none;
  background: none;
  size: 12px
}

#btn-save, #btn-cancle, #btn-add {
  font-size: $button-font;
  width: 120px;
}

h4 {
  color: $h4-color;
}

h5 {
  color: $h5-color;
}

//heading style
h2 {
  color: $tertiary-color;
  margin: 15px;
}

//table style
.table {
  border: 2px solid $primary-color;
  background-color: $tertiary-color;
}

//list style
.list {
  height: 89vh;
  overflow: auto;
}

.list-container {
  overflow-x: auto;
  margin: 10px;
}

#name, #email {
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: 2px;
}

//form style
.detail-form {
  display: flex;
  justify-content: center;
  height: 89vh;
  overflow: auto;
}

//alert box
#alert {
  border: 2px solid $primary-color;
  border-radius: 5px;
}

//on small screen set padding
@media (max-width: 576px) {
  .detail-form {
    padding: 20px;
  }
}


//For screens smaller than 576px (extra small devices)
@media (max-width: 300px) {
  .form-group.col-md-4.col-md-offset-5.align-center {
    max-width: 100%;
  }
}

//For screens between 576px and 767.98px (small devices)
@media (min-width: 576px) and (max-width: 767.98px) {
  .form-group.col-md-4.col-md-offset-5.align-center {
    max-width: 80%;
  }
}

//For screens between 768px and 991.98px (medium devices)
@media (min-width: 768px) and (max-width: 991.98px) {
  .form-group.col-md-4.col-md-offset-5.align-center {
    max-width: 60%;
  }
}

//For screens between 992px and 1199.98px (large devices)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .form-group.col-md-4.col-md-offset-5.align-center {
    max-width: 50%;
  }
}

//For screens larger than 1200px (extra large devices)
@media (min-width: 1200px) {
  .form-group.col-md-4.col-md-offset-5.align-center {
    max-width: 40%;
  }
}